<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
    {%- if page.redirect -%}
      <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
    {%- endif -%}
    {%- if page.redirect_to -%}
      <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}" />
    {%- endif -%}
    {% include head.html %}

    {% if site.google_analytics %}
    {% include analytics.html %}
    {% endif %}

    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.twitter_username }}">
    <meta name="twitter:creator" content="@{{ site.twitter_username }}">
    <meta name="twitter:title"   content="{{ page.title }}">

    {% if page.description %}
    <meta name="twitter:description" content="{{ page.description }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    {% if page.largeimage %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.largeimage }}">
    {% else %}
    {% if page.image %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}
    {% endif %}
    <!-- end of Twitter cards -->

  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>

</html>
